<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a post</title>
    <link th:replace="~{fragments/resources :: bootstrap_css}">
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <main>
        <div class="container">
            <div class="row row-cols-1">
                <form th:action="@{/posts/create}" th:object="${postDTO}" method="post"
                      enctype="multipart/form-data" autocomplete="off">
                    <div class="col mb-3">
                        <label for="text" class="form-label">Text</label>
                        <textarea class="form-control" id="text" th:field="*{text}"
                                  placeholder="You can write here"></textarea>
                    </div>
                    <div class="col mb-3">
                        <label for="image_file" class="form-label">Image</label>
                        <input type="file" class="form-control" id="image_file" th:field="*{imageFile}">
                    </div>
                    <div class="col mb-3">Or</div>
                    <div class="col mb-3">
                        <label for="image_url" class="form-label">Image URL</label>
                        <input type="url" class="form-control" id="image_url" th:field="*{imageUrl}">
                    </div>
                    <div class="col mb-3">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                    <div class="text-danger" th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></div>
                    <div class="text-danger" th:if="${#fields.hasErrors('imageFile')}" th:errors="*{imageFile}"></div>
                    <div class="text-danger" th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}"></div>
                </form>
            </div>
        </div>
    </main>

    <script th:replace="~{fragments/resources :: bootstrap_js}"></script>
</body>
</html>