<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>

    <title>Main Page</title>

    <link th:replace="~{fragments/resources :: bootstrap_css}">
    <link th:replace="~{fragments/resources :: fa}">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/main.css}">
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <main>
        <div class="wall container-md">
            <!-- A post -->
            <div th:each="post : ${posts}" th:id="'post_id_' + ${post.id}"
                 class="row border border-2 rounded-4 mx-auto my-3">
                <div class="col">
                    <div class="row d-flex">
                        <div class="col d-flex align-items-center"
                             th:classappend="${#authorization.expression('hasRole(''ADMIN'')')} ? 'justify-content-start' : 'justify-content-center'">
                            <span class="text-center"
                                  th:text="${#temporals.format(post.createdAt, 'd MMM yyyy, HH:mm')}"></span>
                        </div>
                        <div class="col d-flex justify-content-end" sec:authorize="hasRole('ADMIN')">
                            <button type="button" class="delete_post_btn" data-bs-toggle="modal"
                                    data-bs-target="#confirmDeleteModal"
                                    th:data-post-id="${post.id}">
                                <i class="fa-solid fa-trash"></i>
                            </button>

                            <!-- Modal to delete post-->
                            <div class="modal fade" id="confirmDeleteModal" tabindex="-1"
                                 aria-labelledby="confirmDeleteModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="confirmDeleteModalLabel">Delete this
                                                post?</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            This post will be deleted permanently, and you will not be able to restore
                                            it
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Close
                                            </button>
                                            <button id="delete_post_final_btn" type="button"
                                                    class="btn bg-danger text-white"
                                                    data-bs-dismiss="modal">Delete
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 border-top border-2 mt-1 mb-2"
                             th:if="${post.text != '' && post.text != null}"
                             th:text="${post.text}"></div>

                        <div class="post_image col-12 text-center p-0 border-top border-2"
                             th:if="${post.image != null}">
                            <img class="rounded-bottom-4 img-fluid" th:src="@{${post.image}}" alt="Image">
                        </div>

                        <div class="border-top border-2">
                            <button type="button" class="like-btn btn btn-lg m-1 p-0 border-0"
                                    th:data-post-id="${post.id}">
                                <i th:class="${post.getUsersLiked().contains(#authentication.getPrincipal()) ? 'like-icon fa-solid fa-heart' : 'like-icon fa-regular fa-heart'}"></i>
                                <span class="likes-count" th:text="${post.getLikesCount()}"></span>
                            </button>
                            <button type="button" class="comments-btn btn btn-lg m-1 ms-3 p-0 border-0"
                                    data-bs-toggle="modal" th:data-bs-target="'#comments-modal-' + ${post.getId()}">
                                <i th:class="${post.getCommentsCount() == 0 ? 'fa-regular fa-comment' : 'fa-solid fa-comment'}"></i>
                                <span class="comments-count" th:text="${post.getCommentsCount()}"></span>
                            </button>

                            <!-- Modal to see comments -->
                            <div class="modal fade modal-lg" th:id="'comments-modal-' + ${post.getId()}" tabindex="-1"
                                 aria-labelledby="comments-modal-label"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5"
                                                th:id="'comments-modal-label-' + ${post.getId()}">Comments</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div th:if="${post.getCommentsCount() == 0}" class="text-center">
                                                <span>There's nothing</span>
                                            </div>
                                            <div th:each="comment : ${post.getComments()}" class="row">
                                                <div class="col-12">
                                                    <div class="comment-info row">
                                                        <div class="comment-author-name col">
                                                            <span th:if="${#authentication.getName().equals(comment.getAuthor().getUsername())}">
                                                                <b th:text="'@' + ${comment.getAuthor().getUsername()} + ' (you)'"></b>
                                                            </span>
                                                            <span th:text="'@' + ${comment.getAuthor().getUsername()}"
                                                                  th:unless="${#authentication.getName().equals(comment.getAuthor().getUsername())}"></span>
                                                        </div>
                                                        <div class="comment-creation-time col text-end text-muted">
                                                            <span th:text="${#temporals.format(comment.getCreatedAt(), 'd MMM yyyy, HH:mm')}"></span>
                                                        </div>
                                                    </div>
                                                    <div class="comment-text row">
                                                        <p th:text="${comment.getText()}"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <form th:action="@{'/posts/comments/create/' + ${post.getId()}}"
                                                  method="POST" class="w-100">
                                                <div class="d-flex align-items-end">
                                                    <label for="comment-text"></label>
                                                    <textarea class="form-control me-2"
                                                              id="comment-text"
                                                              name="text"
                                                              placeholder="U can write smth here ;)"
                                                              required
                                                              rows="1"
                                                              style="resize: none; overflow-y: auto; max-height: 150px;"
                                                    ></textarea>
                                                    <button type="submit" class="btn btn-primary">
                                                        <i class="fa-solid fa-paper-plane-top"></i>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center" th:if="${posts.isEmpty()}">
            <div class="col">
                <span>There is nothing :(</span>
            </div>
        </div>
    </main>

    <script th:replace="~{fragments/resources :: bootstrap_js}"></script>
    <script src="/js/main.js"></script>
</body>
</html>